body{
    background-color: black;
}
#container{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}
#circle{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 150px;
}