body{
    background-color: black;
}
#container{
    background-color: yellow;
    height: 200px;
    width:300px;
    position: relative;
}
.box{
    box-sizing: border-box;
    background-color: rgb(78, 78, 207);
}

.first, .third{
    height: 85px;
    width: 85px;
}
.third{
    position: absolute;
    bottom: 0px;
}
.second, .forth{
    height: 85px;
    width: 170px;
    position: absolute;
}
.second{
    top: 0px;
    right: 0px;
}
.forth{
    bottom: 0px;
    right: 0px;
}