*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat, sans-serif;
}
.first-navbar{
    background-color: #DDDDDD;
    padding: 2px;
}

.first-navbar p{
    text-align: center;
    margin: 5px 0px;    
    font-size: 11px;
}
.second-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}
.third-child{
    position: relative;
}
.third-child .search-icon{
    position: absolute;
    top: 8px;
    color: black;
    font-size: 13px;
}
.third-child input{
    border: none;
    padding-left: 20px;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.909);
    width: 140px;
}
.third-child input:focus{
    outline: none;
    border-bottom: 0.5px solid black;
}
.third-child i{
    /* margin-left: 20px; */
    font-size: 20px;
}
.centre-navbar{
    color: #DDDDDD;
    text-align: center;
    margin-top: 18px;
}
.third-navbar{
    display: flex;
    justify-content: center;
}
.third-navbar ul{
    display: flex;
    gap: 20px;
}
.third-navbar ul li{
    list-style: none;
    font-size: 14px;
    color: gray;
    margin: 15px 0px;
    cursor: pointer;
}

.bannar img{
    width: 98vw;
    height: 60vh;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 0px;
    gap: 40px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
.product-heading{
    text-align: center;
    margin: 20px;
    letter-spacing: 2px;
}