* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 20px;
  /* perspective: 800px; */
}
.box {
  height: 150px;
  width: 150px;
  background-color: orange;
  cursor: pointer;
  /* border-radius: 50%; */
  /* transition-property: all; */

  /* transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 3s; */

  /* transition: all 3s; */
  animation-name: moving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moving {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}
.box:hover {
  /* background-color: purple;
  width: 300px;
  height: 200px; */
  /* transform:translate(100px,200px); */
  /* transform: rotate(40deg); */
  /* transform: skewX(30deg); */
  /* transform: skewY(30deg); */
  /* transform: translateZ(200px); */
  /* transform: rotateX(50deg); */
  transform: rotate(50deg);
}
