/* the menu bar */
nav {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  place-items: center;
  width: 80vw;
  background: #000c2a;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 2rem rgba(117 78 17 / 1);
  overflow: hidden;
}

/* the button */
input {
  display: none;
}
.button {
  position: relative;
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.25rem;
  padding-block: 0.5rem;
  margin: auto;
  background: #000c2a;
  z-index: 1;
}
.button:hover {
  cursor: pointer;
}
.button .bar {
  width: 2rem;
  height: 0.25rem;
  background-color: ivory;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

/* CHECK THEM */
.checkbox1:checked + label > .button1 > .bar1 {
  transform: translate(0, 0.75rem) rotate(270deg) scaleX(0.35) scaleY(1.75);
  transform-origin: bottom right;
}
.checkbox1:checked + label > .button1 > .bar2 {
  transform: translate(0, 0) rotate(-270deg) scaleX(0.35) scaleY(1.75);
  transform-origin: 50% 50%;
}
.checkbox1:checked + label > .button1 > .bar3 {
  transform: translate(0, -0.75rem) rotate(270deg) scaleX(0.35) scaleY(1.75);
  transform-origin: top left;
}

/* navigation */
.menu-list,
.menu-list.active {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.5rem;
  list-style-type: none;
}
/* position navigation offscreen */
.menu-list {
  width: 8%;
  transform: translateX(-80vw);
  transform-origin: top left;
  transition: transform 0.2s ease-out, width 0.4s ease;
}
/* slide navigation into view */
.menu-list.active {
  width: 100%;
  transform: translateX(0);
}

/* style navigation links */
a {
  padding: 0 3px 3px 3px;
  border-bottom: 2px solid transparent;
  font-family: system-ui, sans-serif;
  font-size: max(1rem, 2cqi);
  color: white;
  text-decoration: none;
  transition: border 0.3s ease-in-out;
}
a:hover {
  border-bottom: 2px solid white;
}

/* body stuff */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #edffe6;
}
