/* .container {
  height: 200px;
  width: 200px;
  background-color: orange;
  /* box-shadow: 10px 10px blue; */
  /* box-shadow: 10px -10px blue; */
  /* box-shadow: -10px -10px blue; */
  /* box-shadow: 10px 10px 5px blue; */
  /* box-shadow: 0px 0px 0px 5px blue; */
  /* box-shadow: inset 10px 10px blue; */
/* } */

/* us border-box may four cheezay hai 
offset-x offset-y blur radius  spread-redius */ 


/* sun create */
/* .container{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 10px red;
} */

/* overflow */
.container{
    height: 200px;
    width: 200px;
    background-color: aqua;
    overflow: scroll;
}
