* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: grid;
  height: 700px;
  width: 700px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  padding: 10px;
}
.box{
    background: rgb(95, 95, 226);
}
.first{
    grid-row: 1/4;
}
.Second{
    grid-column: 2/4;
}
.Sixth{
    grid-row: 2/4;
    grid-column: 4/5;
}